#main {
    width:  400px;
    height: 200px;
}
.box {
    border: solid 2px #859900;
    width:50px;
    float: left;
    text-align:center;
    color: #859900;
    background-color: #073642;
    cursor: pointer; 
    cursor: hand; 
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}
