.home {
    background-color: #03191e;
    border-radius:50px;
    box-shadow: 10px 10px 80px #000000 inset;
    min-width:600px;
    min-height:800px;
    border-style:solid;
    border-width:5px;   
}

.home .logo {
    background-color: #000000;
}